# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace/
!default.xcworkspace/

# Environment & Secrets
.env
*.env
secrets.json

# Logs & Crashes
*.log
*.crash

# macOS
.DS_Store